<ion-header>
  <ion-toolbar color="dark">

    <!-- Logo -->
    <ion-buttons slot="start">
      @if(showMenuButton){
        <ion-menu-button menu="start"></ion-menu-button>
      }
      <ion-button (click)="goHome()" fill="clear">
        <img src="assets/logo.png" alt="Logo" class="app-logo"/>
      </ion-button>
    </ion-buttons>

    <!-- Acciones -->
    <ion-buttons slot="end">

      <ion-button class="notification-button" (click)="openNotifications()">
        <ion-badge *ngIf="unreadCount$ | async as count" color="danger"  class="alert-badge"  mode="ios">
          {{ count }}
        </ion-badge>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>

      <!-- Cart -->
      <ion-button (click)="onCartClick()" class="cart-button">
        @if(cartCount > 0){
          <ion-badge
            color="danger"
            mode="ios"
            class="cart-badge"
          >
            {{ cartCount }}
          </ion-badge>
        }
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>

      <!-- User trigger -->
      <ion-button (click)="openPopover($event)">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        @if(isLoggedIn){
          <span class="online-dot"></span>
        }
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- ✅ POPOVER DECLARATIVO -->
<ion-popover
  [event]="popoverEvent"
  [isOpen]="showPopover" 
  (didDismiss)="showPopover = false"
  side="bottom"
  alignment="end"
  show-arrow="false"
>
  <ng-template>
    <app-user-popover 
      [isLoggedIn]="isLoggedIn"
      (close)="onPopoverDismiss()"
    ></app-user-popover>
  </ng-template>
</ion-popover>
