.image-fondo {
  --background: url('/assets/BACKGROUND.png') no-repeat center center / cover;
}

ion-content {
  --background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('/assets/BACKGROUND.png') no-repeat center center / cover;
}

h1 {
    font-weight: 800;
    color: white;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}