<ion-content class="success-content fondo-ivory">
  <div class="success-container">

    <ion-card class="success-card">
      <ion-card-content>
        <div class="icon-wrapper animate-check">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </div>
        <h2 class="animate-text">Payment Successful!</h2>
        <p class="animate-text">Your order has been placed successfully. Thank you for choosing us!</p>

        <ion-button expand="block" fill="solid" shape="round" (click)="goHome()">
          Go to Home
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>