<!-- HEADER -->
<ion-header>
  <ion-toolbar color="dark" class="auth-header">
    <div class="header-content" (click)="goToHome()">
      <img src="assets/logo.png" alt="Lulas Latin Cuisine" />
      <h1>Lulas Latin Cuisine</h1>
    </div>
  </ion-toolbar>
</ion-header>

<!-- CONTENIDO -->
<ion-content class="auth-content" [fullscreen]="true" keyboard-attach>

  <div class="auth-container">

    <h2>Reset Password</h2>

    <ion-item fill="outline">
      <ion-label position="stacked">E-Mail Address</ion-label>
      <ion-input 
        type="email" 
        placeholder="Enter your email" 
        enterkeyhint="next"
        autocapitalize="off"
        autocomplete="email"></ion-input>
    </ion-item>

    <ion-button expand="block" color="light">
      <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
      Send Password Reset Link
    </ion-button>

    @if(isSendMail){
      <div class="auth-links">
        <ion-text>
          Return
          <ion-router-link routerLink="/login">
            Sign in.
          </ion-router-link>
        </ion-text>
      </div>
    }


  </div>

</ion-content>