// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
    --app-orange: #F79710;
    --app-secondary-color: #ce1526;
    --fondo-ivory: #fffff0;
}