<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Detalle Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- HEADER INFO -->
  <div class="modal-header-info">
    <img [src]="product.image" alt="{{ product.name }}" />
    <h2>{{ product.name }}</h2>
    <p class="price-tag">${{ product.price }}</p>
    <p class="description">{{ product.description }}</p>
  </div>

  <!-- CANTIDAD -->
  <ion-label class="quantity-label">Cantidad</ion-label>

  <div class="quantity-wrapper">
    <ion-button fill="clear" class="qty-btn" (click)="dec()">
      <ion-icon name="remove-circle-outline"></ion-icon>
    </ion-button>

    <ion-input
      class="qty-input"
      type="number"
      [value]="quantity"
      readonly>
    </ion-input>

    <ion-button fill="clear" class="qty-btn" (click)="inc()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- NOTAS -->
  <ion-list lines="none" class="custom-list">
    <ion-item class="rounded-item">
      <ion-label position="floating">Notas del pedido</ion-label>
      <ion-textarea
        class="rounded-textarea"
        [(ngModel)]="notes"
        rows="3"
        placeholder="Sin cebolla, picante, etc...">
      </ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      class="btn-add-confirm"
      (click)="confirm()">
      ADD TO CART
    </ion-button>
  </ion-toolbar>
</ion-footer>
