.modal-header-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  h2 {
    margin: 5px 0;
    font-size: 1.2rem;
    color: #333;
  }

  .price-tag {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--app-orange); // Usa la variable global
    margin: 0;
  }

  .description {
    font-size: 0.9rem;
    color: #666;
    margin-top: 5px;
  }
}

.quantity-label {
  font-size: 0.9rem;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #666;
}

// Estilo para la fila de + y -
.quantity-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f4;
  border-radius: 30px; // Muy redondeado como píldora
  padding: 0 10px;
  margin-bottom: 25px;
  height: 50px;

  .qty-btn {
    --color: var(--app-orange);
    font-size: 1.5rem;
    margin: 0 5px;
  }

  .qty-input {
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 50px;
  }
}

// Estilo para Textarea Redondeada
.custom-list {
  margin-top: 0;
}

.rounded-item {
  --background: #f9f9f9;
  --border-width: 1px;
  --border-color: #e0e0e0;
  border-radius: 12px; // Bordes redondeados del item entero
  margin: 0;
  padding: 0 10px;
}

.rounded-textarea {
  --background: transparent; // Para que se vea el fondo del item
  --padding-start: 0;
}

// Estilo del botón de agregar en el footer
.btn-add-confirm {
  // Forzamos el color naranja personalizado
  --background: var(--app-orange); 
  --color: white;
  font-weight: bold;
}

ion-modal {
  z-index: 9999 !important;
}