.fondo-ivory {
  --background: var(--fondo-ivory);
}

/* --- 1. Estilos de la Card de Categoría y Toggle --- */
.category-title-card {
  margin: 0 20px 10px 20px;
  box-shadow: none;
  border: 1px solid #eee;
}

.card-content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-text {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
}

.view-toggle {
  display: flex;
  gap: 10px;

  ion-icon {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
  }

  ion-icon.active {
    color: var(--app-secondary-color);
  }
}

/* --- 2. Segmento --- */
ion-segment {
  --background: transparent;
}

ion-segment-button {
  --color: #666;
  --color-checked: var(--app-orange);
  --indicator-color: var(--app-orange);
}

ion-segment::part(scroll) {
  scrollbar-width: none; /* Firefox */
}

ion-segment::part(scroll)::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
ion-grid {
  padding: 10px;
}

.product-card {
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  padding: 10px;
  height: 100%;
}

/* ===== GRID MODE ===== */
.product-card:not(.list) {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

/* ===== LIST MODE ===== */
.product-card.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-card.list .card-image {
  width: 110px;
  height: 110px;
  margin-right: 10px;
}

.list-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== SHARED ===== */
.product-name {
  color: var(--app-secondary-color);
  font-weight: 600;
  font-size: 1rem;
  margin: 6px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.price-btn {
  --background: var(--app-secondary-color);
  --color: #fff;
  font-weight: bold;
}

.add-btn {
  --background: var(--app-orange);
  --color: #fff;
  font-weight: bold;
}



.category-name{
    --background: var(--app-orange);
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
}