#container {
  text-align: center;
  padding: 8px;
}

#container .img-logo{
  max-width: 80vw;
  height: auto;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}s

.image-fondo {
  --background: url('/assets/BACKGROUND-MOVILE.png') no-repeat center center / cover;
}


ion-content {
  --background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/BACKGROUND-MOVILE.png') no-repeat center center / cover;
}

.custom-img-btn {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  
  img {
    width: 100%;
    height: auto;
  }
}

ion-card {
  border: 1px solid #e0e0e0; /* Gris muy claro que combina con el header 'light' */
  box-shadow: none; /* Quitamos la sombra para que el borde sea el protagonista */
  margin: 10px; /* Opcional: margen externo para que no toque los bordes de la pantalla */
  background-color: rgba($color: #000000, $alpha: 0.3);
  padding: 0;
}

.title-card {
  font-size: 1rem;
  color: #222;
  font-weight: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content-transparent {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center; 
  width: 100%; 
  padding: 0;

}

.content-transparent ion-button {
  margin: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.content-transparent img {
  height: 90px; 
  width: auto;
  object-fit: contain;
  margin: 0;
}


.card-phone {
  border: 1px solid #F79710;
  background-color: rgba($color: #000000, $alpha: 0.3);
  color: white;
  box-shadow: none;
  border-radius: 20px;
}

.card-phone ion-card-content {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3rem;
}

.card-phone ion-card-content img {
  width: 40px;
  height: auto;
  margin-right: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-address {
  border: 1px solid #F79710;
  background-color: rgba($color: #f79710, $alpha: 0.9);
  color: white;
  box-shadow: none;
  border-radius: 20px;
}

.card-address ion-card-content {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.3rem;
}

.card-address ion-card-content img {
  width: 45px;
  height: auto;
  margin-right: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

// Estilos para el contenedor swiper
.my-swiper {
  height: 250px; // Define la altura que quieres que tenga el banner
  width: 100%;
  
  // Estilos para los puntitos (pagination)
  --swiper-pagination-color: #3880ff; // Color de los puntos (azul Ionic)
  --swiper-pagination-bullet-inactive-color: #999;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; // Fondo negro por si la imagen tiene transparencia
}

swiper-slide img {
  width: auto;
  height: 100%;
  object-fit: cover; // Hace que la imagen cubra el área sin deformarse (recortándose si es necesario)
  display: block;
}