<!-- HEADER -->
<ion-header>
  <ion-toolbar color="dark" class="auth-header">
    <div class="header-content" (click)="goToHome()">
      <img src="assets/logo.png" alt="Lulas Latin Cuisine" />
      <h1>Lulas Latin Cuisine</h1>
    </div>
  </ion-toolbar>
</ion-header>

<!-- CONTENIDO -->
<ion-content class="auth-content" [fullscreen]="true" keyboard-attach>

  <div class="auth-container">

    <h2>Sign in to your account</h2>

    <ion-item fill="outline">
      <ion-label position="stacked">E-Mail Address</ion-label>
      <ion-input 
        type="email"
        [(ngModel)]="email"
        placeholder="Enter your email" 
        enterkeyhint="next"
        autocapitalize="off"
        autocomplete="email"></ion-input>
    </ion-item>

    <ion-item fill="outline">
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Enter your password" [(ngModel)]="password">
        <ion-input-password-toggle slot="end" color="medium"></ion-input-password-toggle>
      </ion-input>
    </ion-item>


    <ion-button expand="block" class="login-btn" color="light" (click)="login()">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Login
    </ion-button>

    <div class="auth-links">
      <ion-text>
        Don’t have an account?
        <ion-router-link routerLink="/register">
          Sign up.
        </ion-router-link>
      </ion-text>

      <ion-text>
        <ion-router-link routerLink="/reset-password">Forgot Your Password?</ion-router-link>
      </ion-text>
    </div>

  </div>

</ion-content>